#area-chart,
        #line-chart,
        #bar-chart,
        #stacked,
        #pie-chart {
            min-height: 250px;
        }
.offcanvas-header{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}


